*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --bg-color: #19151A;
    --red-color: #C0392B;
    --green-color: #2ECC71;
    --yellow-color: #F1C40F;
    --buttom-color: #B886DE;
    --blue-color: #64FCFE;
}
body{
    font-size: 62.5%;
}

@keyframes glow-red{
    0%,
    100%{
        box-shadow: 0 0 20px 5px var(--red-color);
    }
    50%{
        box-shadow: none;
    }
}

@keyframes glow-blue{
    0%,
    100%{
        box-shadow: 0 0 20px 5px var(--blue-color);
    }
    50%{
        box-shadow: none;
    }
}
@keyframes glow-green{
    0%,
    100%{
        box-shadow: 0 0 20px 5px var(--green-color);
    }
    50%{
        box-shadow: none;
    }
}
@keyframes glow-yellow{
    0%,
    100%{
        box-shadow: 0 0 20px 5px var(--yellow-color);
    }
    50%{
        box-shadow: none;
    }
}


.main{
    
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 4fr ;
    grid-template-areas: 
    "header"
    "main";

    background-color: var(--bg-color);
    
}

section{
    grid-area: main;
    align-self: center;
    width: 100%;
    height: 100%;
   
}


.lights{
    justify-content: center;
    display: flex;
    margin-top: 1.5rem;
    

}

.lights .circle{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.lights .circle.blue{
    background-color: var(--blue-color);
}
.lights .circle.yellow{
    background-color: var(--yellow-color);
}
.lights .circle.red{
    background-color: var(--red-color);
}
.lights .circle.green{
    background-color: var(--green-color);
}

.lights .circle.lightsOff{
   background-color: black;
}


section h1 {
    text-align: center;
    position: relative;   
    top:25%;

    font-size: 5rem;
    color: white;
    text-shadow: 0px 0px 10px  white;
}

section .controllerLights{
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
}

section .controllerLights label{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    margin-right: 1rem;
    color: white;
}

button{
    height: 2.8rem;
}

button.onOffLight{
    border-radius: 50%;
    width: 2.8rem;
    /* border-radius: 0.1rem; */
    background-color: var(--bg-color);
    border: 2.5px solid;
    border-color: var(--buttom-color);
   

    color:white;
    font-size: 1rem;

    margin-right: 2rem;
}

button.runTime{
    border-radius: 0 0.5rem 0.5rem 0;
    width: 3.5rem;
    margin-left: 0.3rem;
    background-color: var(--bg-color);
    border: 2.5px solid;
    border-color: var(--buttom-color);
    color:white;
    font-size: 1rem;

}

input{
    -webkit-line-clamp: none;
    width: 7rem;
    border-radius: 0.5rem 0 0 0.5rem; 
    border: none;
}

*:focus {
    outline: none;
    
}